@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif;
}

@mixin fill-color-icon($bg, $txt) {
    background-color: $bg;
    color: $txt;
    svg {
        fill: $txt;
    }
}
@mixin box-shadow {
    border: 1px solid #ebeef5;
    box-shadow: 0 0 15px 0 var(--box-shadow-gray);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

[role="btn"] {
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

// end of reuse section

.el-container {
    padding: 0 200px !important;
}

.el-header {
    padding: 20px !important;
    height: unset !important;
}
.el-progress-bar__inner {
    transition: width 0.2 !important;
}
.swal-modal {
    border-radius: 15px;
    button {
        background-color: var(--background-green);
        color: var(--text-green);
        outline: none !important;
        &:hover {
            background-color: var(--background-blue);
            color: var(--text-blue);
        }
    }
}

// end of external restyle library

::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 7px;
    border-radius: 7px;
}

// main layout

.app {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-app);
}

.page {
    height: 100%;
    display: flex;
}

// Panel style
.panel {
    margin: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--background-panel);
    border-radius: 7px;
    @include box-shadow;

    &__title {
        padding: 20px;
        margin-bottom: 20px;
        color: var(--text-disable);
        font-size: 0.9em;
        font-weight: 700;

        span {
            padding: 3px 5px;
            color: var(--text-red);
            background-color: var(--background-red);
            border-radius: 10px;
        }
    }

    &__body {
        height: 100%;
        overflow-y: scroll;

        &:hover::-webkit-scrollbar-thumb {
            background-color: #6e6b7b74;
        }
        &:hover::-webkit-scrollbar-thumb:hover {
            background-color: #6e6b7b;
        }

        .panel__item {
            margin: 5px 10px;
            padding: 10px;
            border-radius: 5px;
        }
    }
}

// Nav bar style
.navbar {
    padding: 10px;
    background-color: var(--background-panel);
    border-radius: 7px;
    @include box-shadow;

    &__left {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        .logo {
            margin-right: 15px;
        }
    }
    &__link {
        a {
            margin: 10px;
            padding: 10px;
            text-decoration: none;
            color: var(--text-blue);
            font-weight: 700;
            font-size: 1rem;
            border-radius: 5px;
        }
        .router-link-exact-active {
            background-color: var(--background-blue);
        }
    }
    &__tool {
        display: flex;
        a {
            margin: 5px;
            text-decoration: none;
            color: var(--text-green);
            font-size: 1em;
            font-weight: 700;
            background-color: var(--background-green);
            padding: 4px 10px 4px 4px;
            border-radius: 20px;
        }
        .icon {
            margin-right: 7px;
        }
        button {
            margin: 10px;
            svg {
                fill: var(--text-blue);
            }
            &:hover {
                svg {
                    transform: translatey(-5px);
                }
            }
        }
    }
}

// Detail section
.detail-player {
    // User style
    .user,
    .history {
        max-height: 45%;
        width: 400px;
    }
    // User
    .user {
        .panel__item {
            &-status {
                span {
                    padding: 3px 5px;
                    color: var(--text-blue);
                    background-color: var(--background-blue);
                    border-radius: 10px;
                }
            }

            &:hover {
                background-color: var(--background-hover-row);
            }
        }
    }

    // History
    .history {
        .panel__body {
            border-radius: 5px;
            background-color: var(--background-hover-row);

            .text-wrap {
                display: flex;
                align-items: center;
            }
            p.panel__item-status {
                color: var(--text-disable);
                font-size: 0.8em;
                span {
                    font-weight: 700;
                    border-radius: 10px;
                    padding: 3px 5px;
                    &.name {
                        @include fill-color-icon(var(--background-blue), var(--text-blue));
                    }
                    &.value {
                        @include fill-color-icon(var(--background-red), var(--text-red));
                    }
                    &.action {
                        @include fill-color-icon(var(--background-green), var(--text-green));
                    }
                }
            }
            span {
                font-size: 0.9em;
                color: var(--text-disable-lighter);
            }
        }
    }

    .user__player-item__display {
        display: flex;
        align-items: center;
        h1 {
            font-size: 1em;
            color: var(--text-disable);
        }
        .icon {
            border-radius: 50%;
            font-weight: 700;
            margin-right: 15px;
            overflow: hidden;
            &.icon-small {
                height: 32px;
                width: 32px;
                svg {
                    height: 16px;
                }
            }
            &.icon-large {
                height: 48px;
                width: 48px;
            }
            &.icon-red {
                @include fill-color-icon(var(--background-red), var(--text-red));
            }
            &.icon-blue {
                @include fill-color-icon(var(--background-blue), var(--text-blue));
            }
            &.icon-green {
                @include fill-color-icon(var(--background-green), var(--text-green));
            }

            .icon-image {
                object-fit: scale-down;
                img {
                    width: 100%;
                }
            }
        }
    }
}

.playground {
    width: 100%;
    justify-content: center;
    align-items: center;
}

#circle {
    transition-timing-function: cubic-bezier(0.06, 0.03, 0.86, 0.59);
}
.pk {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    div {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: var(--color-primary);
        position: relative;
        cursor: pointer;
        &::before {
            position: absolute;
            top: -11px;
            left: 25px;
            content: "";
            height: 50px;
            width: 50px;
            background-color: var(--color-primary);
            transform: rotate(45deg);
            border-radius: 5px;
        }
    }
}
.lottery {
    flex-direction: column;
}
.force-wrap {
    width: 100%;
    margin: 50px;
    background-color: var(--background-hover-row);
    padding: 10px;
    border-radius: 5px;
    span {
        margin-bottom: 10px;
        display: block;
        background-color: var(--background-green);
        color: var(--text-green);
        width: fit-content;
        padding: 3px 5px;
        font-weight: 700;
    }
}
@media screen and (max-width: 1350px) {
    .page {
        flex-direction: column;
    }
    .panel {
        width: 90%;
    }
}

.signin {
    .signin-area {
        height: 100%;
    }
    button.signin-btn {
        background-color: var(--background-blue);
        color: var(--text-blue);
        font-size: 1.1em;
        font-weight: 700;
        padding: 20px;
        img {
            margin-right: 7px;
        }
    }
}

.Vue-Toastification__icon {
    margin: 0 10px 0 0 !important;
}
.Vue-Toastification__toast {
    .no_context {
        color: var(--text-disable);
        font-size: 0.8em;
        margin: 5px 0;
    }
}
.Vue-Toastification__toast.Vue-Toastification__toast--default.top-center {
    background-color: white;
    svg {
        color: var(--text-blue);
    }
    @include box-shadow;
    .no_title {
        color: var(--text-blue);
        font-weight: 700;
        font-size: 1em;
    }
}
