@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Questrial", sans-serif;
}

// Common flex
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

// Button clear
[role="btn"] {
    background: none;
    border: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

// Scroll bar
::-webkit-scrollbar {
    background-color: transparent;
    width: 7px;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 7px;
    border-radius: 7px;
}

// Layout
.app {
    height: 100vh;
    width: 100vw;
    background-color: var(--background-app);
}

.page {
    height: 100%;
    display: flex;
}

// Panel style
.panel {
    margin: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--background-panel);
    border-radius: 7px;
    overflow: hidden;
    @include box-shadow;

    &__title {
        padding: 20px;
        margin-bottom: 20px;
        color: var(--text-disable);
        font-size: 0.9em;
        font-weight: 700;

        span {
            padding: 3px 5px;
            color: var(--text-red);
            background-color: var(--background-red);
            border-radius: 10px;
        }
    }

    &__body {
        height: 100%;
        overflow-y: scroll;

        &:hover::-webkit-scrollbar-thumb {
            background-color: #6e6b7b74;
        }
        &:hover::-webkit-scrollbar-thumb:hover {
            background-color: #6e6b7b;
        }

        .panel__item {
            margin: 5px 10px;
            padding: 10px;
            border-radius: 5px;
        }
    }
}

// Element-ui
.el-container {
    padding: 0 200px !important;
}

.el-header {
    padding: 20px !important;
    height: unset !important;
}
.el-progress-bar__inner {
    transition: width 0.2 !important;
}

.el-form-item__label {
    font-weight: 700;
}

// SweetAlert
.swal-modal {
    border-radius: 15px;
    button {
        background-color: var(--background-green);
        color: var(--text-green);
        outline: none !important;
        &:hover {
            background-color: var(--background-blue);
            color: var(--text-blue);
        }
        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width: 1350px) {
    .app {
        height: unset;
    }
    .page {
        flex-direction: column;
    }
    .panel {
        width: 90%;
    }
    .user {
        .panel__body {
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            display: flex;
            .avatar {
                height: 96px !important;
                width: 96px !important;
            }
        }
    }
    .el-form-item__label {
        text-align: left !important;
    }
}
